.form_container{
    position: relative;
    height: calc(100vh - 22px);
    width: 400px; 
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}